@import url(http://fonts.googleapis.com/css?family=Concert+One);
@import url(http://fonts.googleapis.com/css?family=Patua+One|Knewave|Londrina+Shadow|Londrina+Sketch);

/*
font-family: 'Knewave', cursive;
font-family: 'Londrina Shadow', cursive;
font-family: 'Londrina Sketch', cursive;
*/
body {
  margin: 0;
  padding: 0;
  background-color: #2c2c2c;
}

a {
  color: #3b579a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


p {
  margin: 0;
}

#warning {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  color: #aa183d; 
  font-family: 'Patua One', cursive;
  font-size: 18px;
}

#account {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  font-family: 'Patua One', cursive;
}

#account form p {
  font-size: 32px;
}

#account form a {
  font-size: 20px;
}

#account form {
  background-color: #ececec;
  padding: 10px;
}

#menu {
  text-align: center;
}

#menu a {
  font-family: 'Patua One', cursive;
  display: inline-block;
  font-size: 32px;
  background-color: #fff;
  border: 2px solid #ececec;
  border-radius: 5px;
  margin-top: 15px;
  margin-right: 10px;
  padding: 10px 20px;
}

#menu a:hover {
  text-decoration: none;
  background-color: #ececec;
}

#upload {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

#upload form {
  background-color: #ececec;
  padding: 10px;
}

#upload form p {
  font-family: 'Patua One', cursive;
  font-size: 20px;
}

.library {
  text-align: center;
  padding: 10px;
}

.cover {
  display: inline-block;
  text-align: center;
}

.cover img {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 5px;
  height: 300px;
  width: 225px;
  margin: 10px 10px 10px 0;
}

.cover img:hover {
  background-color: #3b579a;
}

#page {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#page img {
  max-height: 100%;
  max-width: 100%;
}

.change-page {
  position: absolute;
  top: 50%;
  font-size: 48px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  font-family: 'Concert One', cursive;
}

.change-page.disabled {
  color: #444;
}

#close {
  color: #fff;
  font-size: 48px;
  line-height: 30px;
  padding-left: 8px;
  font-weight: bold;
  font-family: 'Concert One', cursive;
}

#close:hover {
  color: #444;
}

.change-page.right {
  right: 5px;
}
.change-page.left {
  left: 5px;
}