<h1>Library</h1>

<form action="<%= reader_path(:upload) %>" method="post" enctype="multipart/form-data">
  <input type="file" name="le_file" />
  <input type="submit" />
</form>

<div class="library">
  <%= for book <- @books do %>
    <div class="cover">
      <a href="<%= reader_path(:read, book.id) %>">
        <img src="<%= reader_path(:cover, book.id) %>" />
      </a>
    </div>
  <%= end %>
</div>