<div id="page"></div>
<a href="<%= reader_path(:library) %>" class="close">X</a>
<div class="change-page left">
  &lt;
</div>
<div class="change-page right">
  &gt;
</div>
<script src="/js/read.js" type="text/javascript"></script>
<script type="text/javascript">
  comicBaker.read('<%= @api_url %>');
</script>